
@use 'base/variables' as v;
@use 'base/mixins' as m;

.barra{
    display: none;

    @include m.tablet { 
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__navegacion{
        display: flex;
        gap: 4rem;
    }
    &__link{
        color: v.$blanco;
        font-size: 1.7rem;
        font-weight: 700;
    }
    &__nombre{
        color: v.$blanco;
        font-size: 2rem;
        font-weight: 700;
    }
}